// .van-nav-bar
//   border-bottom 1px solid #DBDBDB

// .van-nav-bar, .van-tabs__wrap
//   box-shadow 0 0px 6px rgba(0,0,0,0.1)
//   z-index 1

// [class*=van-hairline]::after
//   border-color #e0e0e0
      
select, input
  border 0
  outline 0
  appearance none
  background #fff
  
table
  border-collapse collapse
th, td
  padding 0